*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/backups/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
.idea/
/wp-content/object-cache.php
!/development/wp-config.php