.fc-day-grid-event.hover,
.fc-day-grid-event.st-active button{
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}
.fc-row .fc-highlight-skeleton{
	z-index: 3 !important;
}
.qtip .qtip-content{
	padding: 0 !important;
}
.qtip .calendar-wrapper{
	padding: 10px !important;
}
.qtip .calendar-wrapper .overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0);
	z-index: -1;
}
.qtip .calendar-wrapper .overlay.open{
	background: rgba(255,255,255, 0.7);
	z-index: 999;
}
.qtip .calendar-wrapper .overlay .spinner{
	width: 65px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.fc-event
{
    border-radius: 0px;
}
.calendar-wrapper {position: relative;}
.calendar-content.fc-unthemed {
    /*border: 1px solid #ccc;
    padding: 15px;
    border-radius: 4px;*/
}
.calendar-wrapper .overlay {
	position: absolute; top: 45% ; left: 45% ; z-index: 2  ;     
	-ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);}
.calendar-content.fc-unthemed .fc-toolbar button :not (.fc-right button:last-child){margin-right: 5px}
.calendar-content.fc-unthemed .fc-center h2 {font-size: 2em ; width: 100%}
.calendar-content.fc-unthemed th { border-left: 0 ; border-right : 0 ; padding: 10px 0;}
.calendar-content.fc-unthemed td{border-width: 0 ; text-align: center}
.calendar-content.fc-unthemed  .fc-basic-view .fc-head{
	/*background-color :rgba(204, 204, 204, 0.2);
	border-bottom: 1px solid #ccc ;*/
    color: #ed8323;
}
.calendar-content.fc-unthemed .fc-content-skeleton .fc-day-number {text-align: center}
.calendar-content.fc-unthemed .fc-day-grid-container {margin-top : 0px}
/*.calendar-content.fc-unthemed .fc-event-container:hover .bgr-default {display: block}
.calendar-content.fc-unthemed .fc-event-container .bgr-default {display: none}*/
.calendar-content.fc-unthemed .fc-basic-view .fc-body .fc-row {min-height: auto}
.calendar-content.fc-unthemed .fc-content-skeleton thead {display: none}


.calendar-content.fc-unthemed .tooltip.in {opacity: 1 !important}


.calendar-content.fc-unthemed .btn.btn-available , .calendar-content.fc-unthemed .btn-disabled:not(.next_month) {    	height: auto;    width: 100%;    line-height: 35px;    color: white;}
.calendar-content.fc-unthemed .btn.btn-available:not(.next_month) {background-color: white  ; color: #666 }

.calendar-content.fc-unthemed .fc-content-skeleton .fc-event {border: none ; background: none ; color: #666666 ; font-size: 14px}
.calendar-content.fc-unthemed .btn.btn-available ,.calendar-content.fc-unthemed .btn-disabled {    	height: auto;    width: 100%;    line-height: 35px;    color: white;}


.calendar-content.fc-unthemed .btn.btn-available:hover , .calendar-content.fc-unthemed .st-active .btn.btn-available, .calendar-content.fc-unthemed .btn.btn-available.selected {color: white}

.calendar-content.fc-unthemed .fc-day-grid-event .fc-content {overflow: initial;}
.calendar-content.fc-unthemed .fc-content {margin : 0 2px;}
.calendar-content.fc-unthemed .fc-content .btn {padding : 0;}
.calendar-content.fc-unthemed .fc-content span{ line-height: 35px}
.calendar-bottom {margin-top: 20px ;  padding-bottom: 20px ; }.calendar-bottom .item {display: inline-block ; margin-right: 30px}
/*.calendar-bottom .color {display: inline-block; width: 20px ; height: 20px}*/
.calendar-bottom .color.available   {border: 1px solid #ccc }
.calendar-bottom .cellgrey .color {background-color : #ccc }
.triangle {    
    position: relative;
    display: inline-block;
    right: 12px; 
    bottom: 12px;
    position: absolute;
}
.triangle::before {
	content: "";
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 8px solid transparent;    
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); 
    border-top-color: #ccc;
} 
.calendar-content.fc-unthemed button.btn-disabled .triangle::before  {border-top-color: #fff; }
.calendar-content.fc-unthemed .fc-today {background: none} 
.calendar-content.fc-unthemed .st-active .triangle::before , .calendar-content.fc-unthemed .btn.btn-available:hover .triangle::before{border-top-color: white}
.calendar-content.fc-unthemed button {position: relative;}
.calendar-wrapper .calendar-wrapper-inner {position: relative;}
.calendar-wrapper {clear: both}
.calendar-content.fc-unthemed .btn[disabled] {opacity: 1}

/* NEW 1.2.2 */

.calendar-content .fc-toolbar{
    background-color: #ed8323;
    margin: 0;
}

.calendar-content.fc-unthemed .fc-state-default {
    background-image: none;
    border: medium none;
    box-shadow: none;
    color: white;
    height: 49px;
    padding: 0 35px;
    text-shadow: none;
    text-transform: uppercase;
    border-radius: 0px;
}
.calendar-content.fc-unthemed .fc-state-default:hover ,.calendar-content .fc-state-default.fc-state-disabled {
    background-color :#666666;
    /*opacity: 0.5;*/
}
.calendar-content .fc-icon{
    font-size: 24px;
}
.calendar-content .fc-center h2{
    padding-top: 6px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
}
.calendar-content .fc-day-grid-event {
    margin: 0 !important;
    padding: 0 1px;
}
.calendar-content.fc-unthemed .fc-content-skeleton .fc-event {
    background: none ;
    color: #666666 ;
    font-size: 14px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 0;
    height: 45px;
}
.calendar-content.fc-unthemed .fc-event-container:last-child .fc-event {


    border-right: 1px solid #ddd;
}

.calendar-content.fc-unthemed .fc-content-skeleton .fc-event .btn {
    border-radius: 0px;
    /*padding: 10px;*/
    height: 45px;
}
.calendar-content.fc-unthemed  .fc-content-skeleton .fc-content{
    margin: 1px;
}
.calendar-content.fc-unthemed .btn-disabled {
    background-color: #999999;
}
.calendar-content .fc-widget-content{
    height: 45px !important;
}
.calendar-content.fc-unthemed .tooltip-inner {
    min-width: 149px;
    background-color: #fff;
    color: #737373;
    padding: 10px;
    line-height: 1.5em;
    opacity: 1;
    border-radius: 0px;
    border: solid 1px #ddd;
    font-weight: 700;

}
.calendar-content.fc-unthemed .tooltip-arrow {
    border-top-color: #ddd!important;
    opacity: 1;
}
/*
.calendar-content .fc-today::before {
    border-color: transparent #000 #000 transparent;
    border-style: solid;
    border-width: 6px;
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
}*/

.calendar-bottom .color {
    margin-right: 10px;
    padding-left: 20px;
    width: 20px;
}
.calendar-content button.next_month {
    /*border: none !important;*/
}
.calendar-content .btn-disabled.next_month
{
    width: 100%;
    color: #fff !important;
}
#single-tour-calendar .calendar-content.fc-unthemed .fc-state-default {
    height: 36px !important;
    padding: 0 !important;
}
#single-tour-calendar .calendar-content.fc-unthemed .fc-content-skeleton .fc-event {
    height: 39px;
}
#single-tour-calendar .calendar-content.fc-unthemed .fc-content-skeleton .fc-event .btn {
    height: 39px;
}
.qtip .calendar-wrapper {
    padding: 10px 10px 0 !important;
}
.qtip {
    overflow: initial  !important;
}
.qtip .qtip-wrapper,
.qtip .qtip-wrapper .qtip-contentWrapper,
.qtip .qtip-wrapper .qtip-contentWrapper .qtip-contentWrapper,
.qtip .qtip-wrapper .qtip-contentWrapper .qtip-contentWrapper .qtip-content
{
    overflow: initial  !important;
}
.qtip .qtip-content {
    overflow: initial  !important;
}
body #single-tour-calendar {
    max-width: 350px !important;
}
body .qtip {
    max-width: 350px !important;
}
#single-tour-calendar .fc-day-grid .fc-row .fc-content-skeleton tr td:first-child a{
    border-left: none ;
}
#single-tour-calendar .fc-day-grid .fc-row .fc-content-skeleton tr td:last-child a{
    border-right: none ;
}
#single-tour-calendar .fc-center h2 {
    font-size: 17px;
}